<section class="container">

<h1 class="tk-brandon-grotesque"><%= @activity %></h1>

<div class="col-sm-3 col-md-3 clearfix">
  <div class="act-wrap clearfix">
    <div class="act-box">
      <% image = '1'.to_s + '.svg' %>
      <%= image_tag image, class: "act-inner" %>
    </div>
  </div>


  <div class="venue">
    <p class="subhead tk-bello-pro">Venue:</p>
        <%= @venue_name %>
  </div>
</div>

<div class="col-sm-8 col-sm-offset-1 col-md-8 col-md-offset-1">
  <p class="subhead tk-bello-pro">With who:</p>
    <% @taco.each do |taco| %>

      <%= cl_image_tag("user_"+@taco.id.to_s, :width => 100, :height => 150, :crop => :fill, :version=>@current_user.updated_at.to_i) %>

    <% end %>
</div>

</section>
