<section class="container">


<h1 class="tk-brandon-grotesque">Event</h1>

<div class="col-md-3">
  <div class="act-box">
    <div class="act-inner"><span>Take A Walk</span></div>
  </div>
</div>


<div class="col-md-8 col-md-offset-1">

  lsdjflkdsj
</div>


</section>