<!-- login modal -->
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Log In</h4>
      </div>
      <div class="modal-body">
        <%= bootstrap_form_for @user do |f| %>

          <%= f.text_field :email, placeholder: "Email", hide_label: :true, icon: "user" %>
          <%= f.text_field :password_digest, placeholder: "Password", hide_label: :true, icon: "lock" %>
          <!-- :password digest needs to change on both of these when we set up bkrypt!! -->
          <%= f.submit 'Log In' %>
        <% end %>
      </div>

    </div>
  </div>
</div>