<ol>
  <li>Do I have to sign up to use this site?</li>
    <p>Yes you do!</p>
  <li>What is the flake score?</li>
    <p></p>
  <li>How many points do I lose when I do not attend an event?</li>
  <li>How many points do I gain when I do attend an event?</li>
</ol>