<section class="container">

<h1 class="tk-brandon-grotesque">Questions</h1>

<ol>
  <li>
    <h4>Do I have to sign up to use this site?</h4>
    <p>Yes you do!</p>
  </li>
  <li>
    <h4>How does listo work?</h4>
    <p>After you have signed up click on the activities link in the top right corner. You will then be prompted to enter what neighborhood you are in or what neighborhood you are heading to. Then you will be taken the the activity page. If one of the three options listed sounds fun, click on it. If none of the options sound good click on somethinge else. Feel free to click on more than on activity. When 3 other people in your neighborhood have selected the same activity as you an event will be crated and everyone will be notified. Everyone will be taken to the event page where you can see the location of the event and you can chat with other users. Agree on a time and head to the event. And remember have fun!</p>
  <li>
    <h4>What if I select the activity biking and I don't have a bike?</h4>
    <p>Use common sense, don't pick biking. We or other users do not provide equipment.</p>
  </li>
  <li>
    <h4>What is the flake score?</h4>
    <p>The max number of flake points is 10. It helps show other users how much of a flake you are. If you decided not to attend the event and flake out you will lose 1 flake point. Also if you do not show up to an event and do not hit the flake button, the other users attending the event can say you flaked out. If all three other attendees say you flaked out you lose 3 flake points.</p>
  </li>
  <li>
    <h4>How many points do I lose when I do not attend an event?</h4>
    <p>You lose 1 point.</p>
  </li>
  <li>
    <h4>How many points do I gain when I do attend an event?</h4>
    <p>You gain 1 point, but flake points cap at 10.</p>
  </li>
  </li>
  <li>
    <h4>How do I report an user for inappropriate behavior</h4>
    <p>On their bio page there is a flag button. Click the button and put in the reason why you are flagging them. We will keep track of the user and make sure you are not paired in an event with them again.</p>
  </li>
  <li>
    <h4>How many flags does a person have to recieve until they are banned from the site?</h4>
    <p>They have to recieve 3 flags to be banned from the site.</p>
  </li>
</ol>

</section>

<%= render 'site/signupmodal'%>

<%= render 'site/loginmodal'%>

