// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$offwhite: #ecf0f1;
$darkpurple: #8e44ad;
$halfpurple: rgba(142, 68, 173,.5);
$belize: rgba(41, 128, 185,1.0);

#event {
  .act-wrap {
    height: 0;
    padding-bottom:125%;
    @media screen and (max-width: 770px) {
      float: left;
      width: 200px;
      height: 200px;
      padding-bottom: 0;
    }
    .act-box {
      position: relative;
      float: left;
      width: 100%;
      height: 0;
      //margin-right: 4.5%;
      padding-bottom: 95%;
      -webkit-border-radius: 50% 50% 0 50%;
      -moz-border-radius: 50% 50% 0 50%;
      border-radius: 50% 50% 0 50%;
      transform: rotate(45deg);
      border: 6px solid $offwhite;
      @media screen and (max-width: 770px) {
        width: 150px;
        padding-bottom: 150px;
      }
      .act-inner {
        transform: rotate(-45deg);
        @media screen and (max-width: 600px) {
          //display: none;
        }
      }
    }
  }
  .venue {
    margin-top: 20px;
    @media screen and (max-width: 770px) {
      width: 50%;
      float: left;
    }
  }
  .user-wrapper {
    ul{
      list-style: none;
      padding: 0;
      li {
        padding: 10px 0px;
        float: left;
        width: 100%;
        img {
          border-radius: 50%;
          margin-right: 10px;
          width: 100px;
          display: block;
          float: left;
        }
        .user-name {
          float: left;
          color: $offwhite;
          text-decoration: none;
          padding: 15px 20px 0 10px;
        }
        .btn {
          margin-top: 30px;
        }
      }
    }
  }



} /* #event */
