// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$offwhite: #ecf0f1;
$darkpurple: #8e44ad;
$halfpurple: rgba(142, 68, 173,.5);
$belize: rgba(41, 128, 185,1.0);


/* == video background == */
.video-wrapper {
  background-color: $belize;
  width: 100%;
  height: 560px;
  z-index: -100;
  position: relative;
  overflow: hidden;
  @media screen and (max-width: 770px) {
    height: 360px;
  }
}

.video-playing {
  position: absolute;
  bottom: 0;
  min-width: 100%;
  min-height: 560px;
}


header {
  width:100%;
  background: $offwhite;
  z-index: 999;
  .branding {
    float: left;
    padding: 10px 0;
    a {
      display: block;
      width: 55px;
      height: 20px;
      background-image: image-url('listo-logo.svg');
      background-size: 100% auto;
      background-repeat: no;
      background-position: top center;
    }
  }
  nav.navbar {
    margin: 0;
    min-height: 40px;
    .navbar-toggle {
      color: $darkpurple;
      margin: 0;
    }
    ul.navbar-nav {
      float: right;
      list-style: none;
      padding: 10px 0;
      margin: 0;
      @media screen and (max-width: 770px) {
        float:none;
        text-align: center;
        z-index: 99;
      }
      li {
        //float: left;
        padding: 0 20px ;
        @media screen and (max-width: 770px) {
          padding: inherit;
        }
        .link {
          border: none;
          background: none;
        }
        a, .link{
          color: $darkpurple;
          //line-height: 100%;

          padding-top: 0;
          padding-bottom: 0;
        }
        a:hover{
          color: $darkpurple;
          background: none;
        }

      }

    }

  }


} /* header */

#home {
  header {
    background: none;
    position: absolute;
    @media screen and (max-width: 770px) {
      background: $offwhite;
    }
    .branding {
      float: left;
      padding: 10px 0;
      z-index: 100;
      a {
        display: block;
        width: 55px;
        height: 20px;
        background-image: image-url('listo-logo.svg');
        background-size: 100% auto;
        background-repeat: no;
        background-position: bottom center;
        @media screen and (max-width: 770px) {
          background-position: top center;
        }
      }
    }
    a, .link, a:hover{
      color: $offwhite;
      @media screen and (max-width: 770px) {
        color: $darkpurple;
      }
    }
  }
  main {
    background: none;
    padding-top: 0;
    .intro-wrapper {
      color: $offwhite;
      padding-top: 100px;
      height: 560px;
      @media screen and (max-width: 770px) {
        color: $offwhite;
        height: 360px;
        padding-top: 80px;
      }
      h1 {
        font-size: 7vw;
        text-shadow: 2px 2px 6px #222;
        font-weight: 700;
        @media screen and (max-width: 770px) {
          font-size: 8.5vw;
        }
      }
      p {
        font-size: 2vw;
        @media screen and (max-width: 770px) {
          display: none;
        }
      }
      .btn {
        display: inline-block;
        background: none;
        border: 2px solid $offwhite;
        margin: 100px auto 40px;
        font-size: 22px;
        padding:8px 20px;
        color: $offwhite;
        width: auto;
        @media screen and (max-width: 770px) {
          margin: 50px auto 40px;
          font-size: 18px;
        }
      }
      .btn:hover {
        background: $halfpurple;
        color: $offwhite;
      }
    } /* .intro-wrapper */
    .content-wrapper {
      margin-top: -560px;
      padding-top: 40px;
      @media screen and (max-width: 770px) {
        margin-top: -360px;
      }
    }
    .content {
      h2 {
        color: $halfpurple;
      }
      h2:first-child {
        margin-top: 0;
      }
      img {
        //border-radius: 20%;
        width: 90%;
        display: block;
        margin: 0 auto;
        height: auto;
      }
    }
  }

} /* #home */

#faq {
  main {
    li {
      margin-bottom: 40px;
    }
  }
}

#fourofour {
  h1 {
    font-size: 4vw;
    line-height: 130%;
    @media screen and (max-width: 770px) {
      font-size: 8vw;
    }
  }
}



main {
  background: $belize;
  padding: 40px 0;
  min-height: 400px;
  .alert {
    position: absolute;
    top: 50px;
    background: $halfpurple;
    color: $offwhite;
  }
  h1 {
    font-size: 7vw;
    text-shadow: 4px 2px 0px #222;
    font-weight: 700;
    color: $offwhite;
    margin-bottom:40px;
    @media screen and (max-width: 770px) {
      font-size: 8.5vw;
    }
  }
  p.subhead {
    font-size: 32px;
    margin-bottom: 20px;
  }

}

footer {
  background: #222;
  min-height: 200px;
  padding-top:30px;
  padding-bottom: 20px;
  color: $offwhite;
  h5 {
    font-size: 16px;
  }
  ul {
    list-style: none;
    margin:0;
    padding:0;
    li {
    font-size: 14px;
      a {
        color:$offwhite;
      }
      a:hover {
        color:$offwhite;
      }
    }
  }
}


.modal-backdrop.in {
filter: alpha(opacity=80);
opacity: 0.8;
}

#about {
  .pic {
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }
  .dev-name {
    color: $offwhite;
    text-decoration: none;
    float: inherit;
  }
  p {
    color: $offwhite;
  }
}
