// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$offwhite: #ecf0f1;
$darkpurple: #8e44ad;
$halfpurple: rgba(142, 68, 173,.5);
$belize: rgba(41, 128, 185,1.0);


#dashboard, #bio {
  .subhead {
    margin-bottom: 0;
  }
  .user-wrap {
    height: 0;
    padding-bottom:128%;
    @media screen and (max-width: 770px) {
      float: left;
      width: 30%;
      height: 0;
      padding-bottom: 45%;
    }
    .user-box {
      position: relative;
      overflow: hidden;
      float: left;
      width: 100%;
      height: 0;
      padding-bottom: 95%;
      -webkit-border-radius: 50% 50% 0 50%;
      -moz-border-radius: 50% 50% 0 50%;
      border-radius: 50% 50% 0 50%;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      transform: rotate(45deg);
      border: 6px solid $offwhite;
      @media screen and (max-width: 770px) {
        width: 100%;
        padding-bottom: 95%;
      }
      img {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        transform: rotate(-45deg);
        margin: -8% 0 0 -6%;
        width: 130%;
        height: auto;
        @media screen and (max-width: 600px) {
          //display: none;
        }
      }
      #default-pic {
        width: 90%;
        height: auto;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        transform: rotate(-45deg);
        margin: 11% 0 0 5%;
      }
    }
  }
  h2.name {
    float: left;
    width: 100%;
    text-shadow: 2px 2px 0 #333;
    font-weight: 700;
    //font-size: 4vw;
    color: $offwhite;
    margin: 0;
    text-align: center;
    padding: 0 0 10px 0;
    @media screen and (max-width: 770px) {
      width: 64%;
      text-align: left;
      padding: 5% 0 5px 20px;
    }
  }
  .bio, .form {
    float: left;
    text-align: center;
    width: 100%;
    @media screen and (max-width: 770px) {
      width: 64%;
      padding-left: 20px;
      text-align: left;
    }
    a {
      color: #34495e;
      display: inline-block;
      //width: 100%;
      text-align: center;
      margin-bottom: 20px;
      @media screen and (max-width: 770px) {
        text-align: left;
      }
    }
    textarea {
      max-width: 100%;
      height: 200px;
    }

  }
  .hide {
    display: none;
  }
  .act-list {
    list-style: none;
    padding: 0;
      li {
        float: left;
        padding-right: 20px;
        a {
          color: #34495e;
        }
      }

  }
  .event-list {
    list-style: none;
    padding: 0;
    div {
      width:20%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      border: 1px solid $offwhite;
      overflow: hidden;
      float: left;
      img {
        max-width: 100%;
        height: auto
      }
    }
    a {
      color: #333;
      .act {
        border-radius: 50%;
        width:20%;
        margin-right: 2%;
      }
      .img-wrap {
        margin-left: 2%;
      }
    }
    .with {
      width:10%;
      border: none;
      text-align: center;
      padding-top: 7%;
      span {
        font-size: 20px;
      }
    }
  }
}
//dashboard, bio
#bio {
  text-align: center;
  .user-wrap {
    @media screen and (max-width: 770px) {
      float: none;
      margin: 0 auto;
      width: 60%;
      height: 0;
      padding-bottom: 80%;
    }
    @media screen and (max-width: 560px) {
      width: 60%;
      padding-bottom: 90%;
    }
    @media screen and (max-width: 400px) {
      width: 100%;
      padding-bottom: 125%;
    }
  }
  .bio {
    width: 100%;
    padding: 0 0 10px 0;
    text-align: center;
  }
  .btn {
    text-align: center;
    display: inline-block;
  }
}
